@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');


.meals_header {
    font-family: "Sedan", serif;
    font-style: normal;
    width: 90%;
    margin: 15rem auto 5rem auto;
}

.meals_heading {
    font-size: 1.8rem;
    background: linear-gradient(to right, rgb(255, 68, 0), orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.meals_para {
    font-family: "Sedan", serif;
    font-style: normal;
    color: #fff;
}

#meals_button {
    text-decoration: none;
    color: white;
}

#meals_button span {
    background: linear-gradient(to right, rgb(255, 68, 0), orange);
    font-size: 1.20rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}